body{
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.introduction{
    position: absolute;
    top:50%;
    left:40%;
    transition: -50% -40%;
    padding-bottom: 3px;
}
 .introduction_name{
    padding-bottom: 5px;
}
  .introduction-p{
    align-items: center;
    margin-left: 6rem;
    
}   