/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  
  .nav-links a:hover {
    border-bottom: 4px solid yellow;
  }
  
  .contact-logo ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .logo img{
    width: 30px;
  }
  
  li a img {
    width: 35px;
    height: 35px;
  }
  

  
  /* Media Query for Small Screens */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links.show {
      display: flex;
    }

    .nav-links a{
        display: none;
    }
  
    .contact-logo img {
        display: block;
    }
    .burger {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 24px;
    }
  
    .burger div {
      width: 24px;
      height: 3px;
      background-color: #fff;
      transition: all 0.3s linear;
    }
  
    .burger .active:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .burger .active:nth-child(2) {
      opacity: 0;
    }
  
    .burger .active:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  